@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.auth-container {
  background-image: 
    linear-gradient(45deg, rgba(47, 140, 96, 0.6), rgba(0, 0, 0, 0.99)),
    url('assets/images/bg-auth.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title{
  font-family: Inter;
}

.btn-login {
  background-color: #4AA35A;
  color: white;
  border: none;
width: 100%;
}

.btn-login:hover {
  background-color: #3c864b; 
}

/* Remove default password eye icon for input */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
